body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #122940;
    color: #CF9D3A;
}


/* ============== Header Styles ==============*/

.site-header{
    background-color: #122940;
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.nav-ul a:hover{
    color: #b3ff5c;
    cursor: pointer;
}
.header-logo{
    width: 70px;
    margin-left: 100px;
    img{
        width: 70px;
    }
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    li a{
        text-decoration: none;
        color: #CF9D3A;
    }
}
.nav-ul > li {
    margin: 0 10px;
    overflow: hidden;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

/* Mobile nav menu styling with media queries */

@media (max-width: 900px) {
    .header-logo{
        margin-left: 40px;
    }
    .nav-ul{
        margin-right: 40px;
    }
}
  @media (max-width: 700px) {
    .header-logo{
        margin-left: 20px;
    }
    .menu-button-container {
      display: flex;
      margin-right: 20px;
    }
    .nav-ul {
      position: absolute;
      top: -10px;
      margin-top: 94px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      z-index: 99;
    }
    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .nav-ul li {
      border: 0.5px solid #b3ff5c;
      height: 2.5em;
      padding: 0.5em;
    }
    .nav-ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* padding: 0.5em 0; */
      width: 100%;
      color: black;
      background-color: #282a3e;
    }
    .nav-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  /* ============== Hero Section Styles ==============*/

.hero-section{
    height: 50vh;
    position: relative;
}
.hero-image{
    width: 100%;
    max-width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -5;
}

.hero-text{
    text-align: center;
    
    font-family: "espoir";
    h3{
        margin: 0;
    }
}



  /* ============== Tile Section Styles ==============*/


.tile-section{
    padding: 1rem;
    img{
        width: 100%;
    }
}

.tile{
    position: relative;
}
.overlay{
    position: absolute;
    font-family: "Espoir";
    font-size: 4rem;
    text-transform: uppercase;
    top: 50%;
}