body {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.25rem;
    background-image: url(./media/assets/site-bg.jpg);
    background-size: cover;
    background-color: #122940;
    z-index: 43;
    color: #CF9D3A;
}
/* .pattern-overlay{
  z-index: -99;
  background-color: #122940;
  opacity: 97%;

} */
h1,h2,h3,h4,h5,h6{
  font-family: "Espoir";
}
a{
  font-family: 'Futura PT', sans-serif;

}


/* ============== Header Styles ==============*/

.site-header{
    /* background-color: #122940; */
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.nav-ul a:hover{
    color: #fff;
    cursor: pointer;
}
.header-logo{
    width: 70px;
    margin-left: 100px;
    img{
        width: 90px;
        -webkit-filter: drop-shadow(5px 5px 5px #000000);
        filter: drop-shadow(5px 5px 5px #000000);
    }
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    li a{
        text-decoration: none;
        color: #CF9D3A;
        position: relative;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.75)
    }a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2.5px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }a:hover::before {
      transform: scaleX(1);
    }
}
.nav-ul > li {
    margin: 0 10px;
    overflow: hidden;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #CF9D3A;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    position: absolute;
    height: 2.7px;
    width: 32px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

/* Mobile nav menu styling with media queries */

@media (max-width: 900px) {
    .header-logo{
        margin-left: 40px;
    }
    .nav-ul{
        margin-right: 40px;
    }
}
  @media (max-width: 700px) {
    .header-logo{
        margin-left: 20px;
    }
    .menu-button-container {
      display: flex;
      margin-right: 20px;
    }
    .nav-ul {
      position: absolute;
      top: -10px;
      margin-top: 94px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      z-index: 99;
    }
    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .nav-ul li {
      border: 0.5px solid #CF9D3A;
      height: 2.5em;
      padding: 0.5em;
    }
    .nav-ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* padding: 0.5em 0; */
      width: 100%;
      color: black;
      background-color: #122940;
    }
    .nav-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  /* ============== Hero Section Styles ==============*/

.hero-section{
    height: 60vh;
    position: relative;
}

.hero-bg{
  background-image: url(./media/headers/jason-leung-poI7DelFiVA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  opacity: 100%;
  z-index: -10;
}
.hero-image-overlay{
  height: 50vh;
  background-color: #122940;
  opacity: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -6rem;
  z-index: -9;

}
.hero-text{
    text-align: center;
    position: relative;
    top: 25%;
    font-family: "espoir";
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    z-index: 5;
    .hero-h3{
        margin: 0;
        font-size: 1.5rem;
    }
    .hero-h1{
      font-size: 4rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .hero-h4{
      margin: 0;
    }
}


@media (min-width: 1000px) {
  .hero-section{
    height: 100vh;
  }
  .hero-text{
    top: 30%;
    .hero-h3{
      font-size: 2rem;
    }
    .hero-h1{
      font-size: 6rem;
    }
    .hero-h4{
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1500px) {
  .hero-text{
    .hero-h1{
    font-size: 10rem;
  }
  }
  
  
}

  /* ============== Tile Section Styles ==============*/


.tile-section{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    img{
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}

.tile{
    position: relative;
    display: inline-block;
    padding: 1rem;
    
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Espoir";
    font-size: 2.5rem;
    text-transform: uppercase;
    left: 50%;
}

@media (min-width: 600px) {
    .tile-section{
      img{
        width: 300px;
        height: 300px;
      }
    }
    .overlay{
      font-size: 3rem;
    }
}
@media (min-width: 1200px) {
  .tile-section{
    img{
      width: 400px;
      height: 400px;
    }
  }
  .tile{
    padding: 2rem;
  }
  .overlay{
    font-size: 4rem;
  }
}

  /* ============== Explore our Menu Section Styles ==============*/

.eom-section{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.eom-h2{
  margin-top: 2vmin;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);

}

.eom-image{
  width: 300px;
  border-radius: 30px;
}

.eom-btn{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  a{
    text-decoration: none;
    color: #282a3e;
  }
}

.eom-btn:hover{
    background-color: white;
}

@media (min-width: 600px) {
  .eom-h2{
    margin-top: 2vmin;
    font-size: 3.2rem;
  }

  .eom-image{
    width: 500px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1020px) {
  .eom-h2{
    font-size: 3.2rem;

  }

  .eom-image{
    width: 900px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .eom-btn{
    margin-top: 2vmin;
    font-size: 1.5rem;
  }
}


/* FOOTER STYLES */
.site_footer {
  background-color: #122940;
  color: #CF9D3A;
  padding: 40px 0;
  text-align: center;
  margin-top: 10rem;
  /* position: fixed;. */
  bottom: 0;
  left: 0;
  width: 100%;
}

.social_media_icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.social_media_icons i {
  font-size: 36px;
  margin: 0 15px;
  color: #CF9D3A;
  transition: color 0.3s ease-in-out;
}

.social_media_icons i:hover {
  color: white;
}

.footer_nav_ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.footer_nav_ul li {
  margin: 0 20px;
}

.footer_nav_ul a {
  color: #CF9D3A;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.footer-a{
  position: relative;
}
.footer-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.footer-a:hover::before {
  transform: scaleX(1);
}

.footer_nav_ul a:hover {
  color: white;
}

  /* ============== About Page Header Styles ==============*/

.header-section{
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.header-image-overlay{
  height: 70vh;
  background-color: #122940;
  opacity: 60%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -6rem;
  z-index: -3;
}
.header-text{
  font-family: "espoir";
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.header-h1{
  font-size: 4rem;
  margin-top: 3rem;
}

@media (min-width: 400px) {
  .header-section{
    height: 40vh;
  }
}
@media (min-width: 1000px) {
  .header-section{
    height: 50vh;
  }
  .header-text{
    top: 30%;
    .header-h1{
      font-size: 6rem;
    }
  }
}
@media (min-width: 1500px) {
  .header-text{
    .header-h1{
    font-size: 6rem;
    }
  }
}

  /* ============== About Page Styles ==============*/

.AboutHeader-bg{
  background-image: url(./media/headers/jesson-mata-I2Erl2cU_A4-unsplash.jpg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.welcome-h2{
  margin-top: 2vmin;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.welcome-p{
  margin-bottom: 4rem;
  padding: 15px;
}

.welcome-btn{
  display: block;
  margin: 0 auto;
}

.gallery-section{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.gallery-h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.gallery-image{
  width: 300px;
  border-radius: 30px;
}

.welcome-btn{
  margin-top: 2rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  
  a{
    text-decoration: none;
    color: #282a3e;
  }
}

@media (min-width: 400px) {
  .welcome-section {
    margin: 2vh 5vw;
  }
}
@media (min-width: 600px) {
  .gallery-h2{
    font-size: 3.2rem;
  }
  .gallery-image{
    width: 500px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1000px) {
  .welcome-section {
    margin: 2vh 27vw;
  }
  .gallery-image{
    width: 900px;
    margin-bottom: 2rem;
  }
}

/* Styles for reso  */

.reservation-section{
  margin-top: 2em;
  padding: 15px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
}
.h2-reso{
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);

}

.reservation-form label {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

.reservation-form input,
.reservation-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

.reservation-form button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #CF9D3A;
  color: #282a3e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.reservation-form button:hover{
  background-color: white; 
}

/* ============== Careers Page Styles ==============*/

.CareersHeader-bg{
  background-image: url(./media/headers/AdobeStock_626472323.jpeg);
  background-size: cover;
  background-position: 0 90%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.careers-h2{
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.careers-h3{
  font-size: 2rem;
  margin-top: -2rem;
}

.careers-desc{
  display: inline-block;
  width: 50%;
  margin-top: -1rem;
}

.careers-info{
  display: inline-block;
  width: 39%;
  float: right;
  margin-top: -1rem;
}

.careers-btn{
  margin-top: -5rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  float: right;
  transition: 0.3s ease-in-out;

  a{
    text-decoration: none;
    color: #282a3e;
  }
}

.careers-btn:hover {
  background-color: white;
}

.careers-card{
  margin-bottom: 5rem;
}

.careers-info > ul {
  color: #ddd;
}

@media (min-width: 400px) {
  .careers-section {
    margin: 10vh 8vw 0vh 5vw;
  }
}
@media (min-width: 1000px) {
  .careers-section {
    margin: 10vh 27vw;
  }
}


/* ============== Menu Page Styles ==============*/


.menuHeader-bg{
  background-image: url(./media/headers/ktryna-wq7VErajAaE-unsplash.jpg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.menus-section{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  a{
    line-height: 2rem;
    color: #CF9D3A;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    transition: 0.3s ease-in-out;
  }
}

.menus-section a:hover{
    color: white;
}

.chefs-reco-section{
  h1{
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    margin-bottom: 3rem;
  }
}

.food-item{
  padding: 20px;
  margin: 0 2rem;
  img{
    width: 100%;
    border-radius: 20px;
  }
  h4{
    margin: 0;
    margin-top: 20px;
  }
  p{
    margin: 0;
    margin-top: 20px;
    font-weight: 200;
  }
  .price-p{
    font-weight: 700;
  }
}

.food-item-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .food-item{
    margin: 0 4rem;
    h4{
      font-size: 1.8rem;
    }
  }
}
@media (min-width: 1024px) {
  .menus-section{
    margin-bottom: 8rem;
    a{
      line-height: 60%;
      font-size: 1.7rem;
    }
  }
  .chefs-reco-section{
    h1{
      font-size: 4rem;
      margin-bottom: 5rem;
    }
  }
  .food-item{
    width: 700px;
    margin: 0 auto;
    margin-top: 3.5rem;
    h4{
      font-size: 2rem;
    }
  }
 
}

/* ============== Meet The Team Styles ==============*/

.mttHeader-bg{
  background-image: url(./media/headers/AdobeStock_626472323.jpeg);
  background-size: cover;
  background-position: 0 50%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.mtt-header-h1{
  font-size: 3rem;
  margin-top: 6rem;
}

.mtt-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 5rem;
  
  img{
    width: 270px;
  }
}

.mtt-card-h2 {
  text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

@media (min-width:600px) {
  .mtt-card{
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    img{
      width: 200px;
    }
  }
  .card-text{
    padding: 20px;
  }
}

@media (min-width:1024px) {
  .mtt-card{
    width: 68%;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 5rem;
    img{
      width: 350px;
    }
  }
  .mtt-header-h1{
    font-size: 6rem
  }
}

@media (min-width: 1600px) {
  .mtt-card{
    width: 50%;
  }
  
}



/* ============== Contact Page Styles ==============*/

.contactHeader-bg{
  background-image: url(./media/headers/hermes-rivera-aK6WGqxyHFw-unsplash.jpg);
  background-size: cover;
  background-position: 0 50%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem; 
  z-index: -5;
}

.contact-section {
margin-top: 2vh;
padding: 15px;
}

.form-section {
display: flex;
flex-direction: column;
gap: 16px;
max-width: 1000px;
margin: auto;
}

.contact-section input{
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

.contact-section label, .contact-section textarea {
  display: block;
  margin-top: 4vmin;
  margin-bottom: 4px;
}

.contact-h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: -2vmin;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

@media (min-width: 400px) {
  .contact-section {
    margin: 2vh 5vw;
  }
  .directions-section > iframe{
    width: 100%;
    border-radius: 10px;
  }
}
@media (min-width: 1000px) {
  .contact-section {
    margin: 2vh 29vw;
  }
  .directions-section > iframe {
    width: 100%;
  }
}










/* FAQ STYLE PAGE */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-section {
  max-width: 800px;
  margin: 20px;
  margin-top: 10vh;
  padding: 20px;
  border: 1px solid;
  border-radius: 8px;
  margin-top: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  color: #ddd;
  margin-top: 5px;
}

.faq-item a {
  color: #CF9D3A;
  transition: 0.3s ease-in-out;
}

.faq-item a:hover {
  color: white;
}

.FAQHeader-bg {
  background-image: url(./media/headers/AdobeStock_703002105.jpeg);
  background-size: cover;
  background-position: 0 50%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem; 
  z-index: -5;
}

@media (min-width: 900px) {
  .faq-section{
    margin: 0 auto
  }
}

/* ============== Slider Styles ==============*/

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

#main-image {
  border-radius: 25px;
  width: 800px;
}

@media (min-width: 320px) {
 

  #main-image{
    width: 300px;
  }

  #thumbnail-area {
    display: none;
  }

  #first-btn, #last-btn, #next-btn, #prev-btn {
      position: absolute;
      width: 35px;
  }

  #last-btn {
      right: 1.5rem;
  }

  #next-btn{
      right: 4rem;
  }

  #prev-btn {
      left: 4rem;
  }

  #first-btn {
      left: 1.5rem;
  }
}

@media (min-width: 1000px) {
 
  #main-image {
    width: 700px;
  }

  #thumbnail-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #first-btn, #last-btn, #next-btn, #prev-btn {
    position: inherit;
    width: 50px;
  }

}

/* Reservation Styles */

.reservationHeader-bg{
  background-image: url(./media/headers/AdobeStock_295053226.jpeg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.reservation-section {
  margin-top: 2vh;
}

.reservation-h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: -4vmin;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}