body {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 1.25rem;
    /* background-image: url(./media/assets/site-bg.jpg); */
    background-color: #122940;
    z-index: 43;
    color: #CF9D3A;
}
/* .pattern-overlay{
  z-index: -99;
  background-color: #122940;
  opacity: 97%;

} */
h1,h2,h3,h4,h5,h6{
  font-family: "Espoir";
}
a{
  font-family: 'Futura PT', sans-serif;

}


/* ============== Header Styles ==============*/

.site-header{
    background: transparent;
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.nav-ul a:hover{
    color: #fff;
    cursor: pointer;
}
.header-logo{
    width: 70px;
    margin-left: 100px;
    img{
        width: 90px;
    }
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    li a{
        text-decoration: none;
        color: #CF9D3A;
    }
}
.nav-ul > li {
    margin: 0 10px;
    overflow: hidden;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #CF9D3A;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    position: absolute;
    height: 6px;
    width: 32px;
    border-radius: 3px;
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

/* Mobile nav menu styling with media queries */

@media (max-width: 900px) {
    .header-logo{
        margin-left: 40px;
    }
    .nav-ul{
        margin-right: 40px;
    }
}
  @media (max-width: 700px) {
    .header-logo{
        margin-left: 20px;
    }
    .menu-button-container {
      display: flex;
      margin-right: 20px;
    }
    .nav-ul {
      position: absolute;
      top: -10px;
      margin-top: 94px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      z-index: 99;
    }
    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .nav-ul li {
      border: 0.5px solid #CF9D3A;
      height: 2.5em;
      padding: 0.5em;
    }
    .nav-ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* padding: 0.5em 0; */
      width: 100%;
      color: black;
      background-color: #122940;
    }
    .nav-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  /* ============== Hero Section Styles ==============*/

.hero-section{
    height: 50vh;
    position: relative;
}

.hero-bg{
  background-image: url(./media/headers/jason-leung-poI7DelFiVA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 100%;
  z-index: 2;
}
.hero-image-overlay{
  height: 50vh;
  background-color: #122940;
  opacity: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;

}
.hero-text{
    text-align: center;
    position: relative;
    top: 25%;
    font-family: "espoir";
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    z-index: 5;
    .hero-h3{
        margin: 0;
        font-size: 1.5rem;
    }
    .hero-h1{
      font-size: 4rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .hero-h4{
      margin: 0;
    }
}


@media (min-width: 1000px) {
  .hero-section{
    height: 100vh;
  }
  .hero-text{
    top: 30%;
    .hero-h3{
      font-size: 2rem;
    }
    .hero-h1{
      font-size: 6rem;
    }
    .hero-h4{
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 1500px) {
  .hero-text{
    .hero-h1{
    font-size: 10rem;
  }
  }
  
  
}

  /* ============== Tile Section Styles ==============*/


.tile-section{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    img{
        width: 200px;
        height: 140px;
        border-radius: 20px;
    }
}

.tile{
    position: relative;
    display: inline-block;
    padding: 1rem;
    
}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Espoir";
    font-size: 2.5rem;
    text-transform: uppercase;
    left: 50%;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

@media (min-width: 600px) {
    .tile-section{
      img{
        width: 300px;
        height: 220px;
      }
    }
    .overlay{
      font-size: 3rem;
    }
}
@media (min-width: 1200px) {
  .tile-section{
    img{
      width: 410px;
      height: 345px;
    }
  }
  .tile{
    padding: 2rem;
  }
  .overlay{
    font-size: 4rem;
  }
}

  /* ============== Explore our Menu Section Styles ==============*/

.eom-section{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.eom-h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);

}

.eom-image{
  width: 300px;
  border-radius: 30px;
}
.eom-btn{
  display: block;
  margin: 0 auto;
}

.eom-btn{
  margin-top: 2rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  a{
    text-decoration: none;
    color: #282a3e;
  }
}


@media (min-width: 600px) {
  .eom-h2{
    font-size: 3.2rem;
  }

  .eom-image{
    width: 500px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1020px) {
  .eom-h2{
    font-size: 3.2rem;

  }

  .eom-image{
    width: 900px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .eom-btn{
    font-size: 1.5rem;
  }
}


/* FOOTER STYLES */
.site_footer {
  background-color: #444;
  color: #CF9D3A;
  padding: 40px 0;
  text-align: center;
  margin-top: 10rem;
}

.social_media_icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
}

.social_media_icons i {
  font-size: 36px;
  margin: 0 15px;
  color: #CF9D3A;
  transition: color 0.3s ease-in-out;
}

.social_media_icons i:hover {
  color: white;
}

.footer_nav_ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.footer_nav_ul li {
  margin: 0 20px;
}

.footer_nav_ul a {
  color: #CF9D3A;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.footer_nav_ul a:hover {
  color: white;
}

  /* ============== About Page Header Styles ==============*/

.header-section{
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-overlay{
  height: 50vh;
  background-color: #122940;
  opacity: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -3;

}
.header-text{
  font-family: "espoir";
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.header-h1{
  font-size: 4rem;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

@media (min-width: 400px) {
  .header-section{
    height: 20vh;
  }
}
@media (min-width: 1000px) {
  .header-section{
    height: 40vh;
  }
  .header-text{
    top: 30%;
    .header-h1{
      font-size: 6rem;
    }
  }
}
@media (min-width: 1500px) {
  .header-text{
    .header-h1{
    font-size: 6rem;
    }
  }
}

  /* ============== About Page Styles ==============*/

.AboutHeader-bg{
  background-image: url(./media/headers/jesson-mata-I2Erl2cU_A4-unsplash.jpg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -5;
}

.welcome-h2{
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.welcome-p{
  margin-bottom: 4rem;
}

.welcome-btn{
  display: block;
  margin: 0 auto;
}

.gallery-section{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.gallery-h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.gallery-image{
  width: 300px;
  border-radius: 30px;
}

.welcome-btn{
  margin-top: 2rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  
  a{
    text-decoration: none;
    color: #282a3e;
  }
}

@media (min-width: 400px) {
  .welcome-section {
    margin: 10vh 5vw;
  }
}
@media (min-width: 600px) {
  .gallery-h2{
    font-size: 3.2rem;
  }
  .gallery-image{
    width: 500px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1000px) {
  .welcome-section {
    margin: 10vh 27vw;
  }
  .gallery-image{
    width: 900px;
    margin-bottom: 2rem;
  }
}

/* ============== Careers Page Styles ==============*/

.CareersHeader-bg{
  background-image: url(./media/headers/AdobeStock_626472323.jpeg);
  background-size: cover;
  background-position: 0 90%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -5;
}

.careers-h2{
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.careers-h3{
  font-size: 2rem;
  margin-top: -2rem;
}

.careers-desc{
  display: inline-block;
  width: 50%;
  margin-top: -1rem;
}

.careers-info{
  display: inline-block;
  width: 39%;
  float: right;
  margin-top: -1rem;
}

.careers-btn{
  margin-top: -5rem;
  background-color: #CF9D3A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  float: right;

  a{
    text-decoration: none;
    color: #282a3e;
  }
}

.careers-card{
  margin-bottom: 5rem;
}

@media (min-width: 400px) {
  .careers-section {
    margin: 10vh 8vw 0vh 5vw;
  }
}
@media (min-width: 1000px) {
  .careers-section {
    margin: 10vh 27vw;
  }
}


/* ============== Menu Page Styles ==============*/


.menuHeader-bg{
  background-image: url(./media/headers/ktryna-wq7VErajAaE-unsplash.jpg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -5;
}

